#loginForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
}

#loginFormDiv {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

#saveDiv {
    display: flex;
    justify-content: center;
}